<div class="row" style="margin-top: 5%;" ng-controller="chatController">

        <!-- Contacts & Conversations -->
        <div class="col-sm-2" style="float:left;margin-left: 5%;margin-right: 3%; background-color: #008c9e;">

            <div>
                <div class="row header">
                    <div class="chat-header">
                        <h4>Online users</h4>
                    </div>
                </div>
            </div>
                <div class="row content-wrap" style="background-color: #005f9e;opacity: 0.3;">
                    <div class="conversation btn" ng-repeat="u in objectList.activeUsers">
                        <div class="media-body">
                            <h5 class="media-heading" id="contactName" style="color: black;">{{ u.username }}</h5>
                            <small class="pull-right time"><i>Online</i></small>
                        </div>
                    </div>
                </div>

            </div>

        <!-- Messages & Info -->
        <div class="col-sm-9 panel-wrap">

            <!--Main Content / Message List-->
            <div class="col-sm-9 section-wrap" id="Messages">

                <!--Header-->
                <div class="row header-wrap" style="margin-bottom: 4%;">
                    <div class="chat-header col-sm-12">
                        <h4>Chat room</h4>
                    </div>
                </div>

                <!--Messages-->
                <div class="row content-wrap messages">
                    <div class="msg" ng-repeat="msg in messageList.messages">
                        <div class="media-body">
                            <small class="com-sm-11" ng-if="msg.to != null" style="margin-right: 2%;">Private</small>
                            <small class="pull-right time"><i class="fa fa-clock-o"></i>{{ msg.date }}</small>					
                            <h5 class="media-heading">Sender: {{ msg.from.username }}</h5>
                            <small class="col-sm-11">{{ msg.content }}</small>
                        </div>
                    </div>
                </div>

                <!--Message box & Send Button-->
                <div class="row send-wrap">
                    <div class="send-message">
                        <div class="message-text" style="background-color: #008c9e">
                            <textarea ng-model="messageContent" class="no-resize-bar form-control" rows="2" placeholder="Write a message..."></textarea>
                        </div>
                        <div class="send-button">
                            <a class="btn" ng-click="sendMessage()">Send <i class="fa fa-send"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>