<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Chat application</title>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<link rel="stylesheet" href="resources/css/bootstrap.min.css"></link>
<script src="resources/css/jquery-3.2.1.min.js"></script>
<script src="resources/css/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="resources/css/chat.css"></link>
<link rel="stylesheet" href="resources/css/solo.css"></link>
<script src="resources/js/angular.min.js"></script>
<script src="resources/js/angular-route.js"></script>
<script src="resources/js/app.js"></script>
<script src="resources/js/routes.js"></script>
<script src="resources/js/controller/registerController.js"></script>
<script src="resources/js/controller/loginController.js"></script>
<script src="resources/js/controller/logoutController.js"></script>
<script src="resources/js/controller/chatController.js"></script>
</head>

<body ng-app="myApplication">
<div ng-controller="logoutController">
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="/">ChatApp</a>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="#!/login">Get started</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/login">Sign in</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#!/chat">All chat<span class="sr-only">(current)</span></a>
	      </li>	
	      <li class="nav-item">
	        <a class="nav-link" href="#" ng-click=logout() ng-if="logButton">Logout</a>
	      </li>
	    </ul>
	  </div>
	</nav>
</div>
	<div ng-view></div>
</body>

</html>