<div style="margin-left: 40%;margin-top: 10%;" ng-controller="registerController">
	<form>
	  <div class="form-group">
	    <label for="username">Username</label>
	    <input type="text" class="form-control col-sm-4" id="username" ng-model="username">
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control col-sm-4" id="password" ng-model="password">
	  </div>
	  <button class="btn btn-sm btn-info" ng-click="register()">Register</button>
	</form>
</div>
